<h1>Weeks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Intro</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <td><%= week.number %></td>
        <td><%= week.title %></td>
        <td><%= week.intro %></td>
        <td><%= week.active %></td>
        <td><%= link_to 'Show', week %></td>
        <td><%= link_to 'Edit', edit_week_path(week) %></td>
        <td><%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Week', new_week_path %>
