<!-- <ol class="breadcrumb">
  <li class="active"><%= @week.title %></li>
  
</ol> -->

<h2><%= @week.title %>
  <small>Week <%= @week.number %></small></h2>
<div class="box-body">

 
<%= @week.intro.html_safe %>


<table class="table">
	<% if @week.inclasses.count > 0 %>
		<tr>
			<th width="150px"><i class="icon-group"></i> Class</th>
			<td><%= link_to @week.inclasses.first.title, @week.inclasses.first %></td>
		</tr>
	<% end %>

	<% if @week.readings.count > 0 %>
		<tr>
			<th><i class="icon-book"></i> Readings</th>
			<td>
				<% @week.readings.each do |reading| %>
					<div class="link-body">
						<%= link_to reading.title, reading.url, target: "_blank" %> 
						<i class="icon-angle-right"></i> 
						<%= reading.intro.html_safe %>
					</div>
				<% end %>
			</td>
		</tr>
	<% end %>

	<% if @week.links.count > 0 %>
		<tr>
			<th><i class="icon-link"></i> Resources</th>
			<td>
				<% @week.links.each do |link| %>
					<p><%= link_to link.title, link.url, target: "_blank" %></p>
				<% end %>
			</td>
		</tr>
	<% end %>

	<% if @week.quizzes.count > 0 %>
		<tr>
			<th><i class="icon-link"></i> Quizzes</th>
			<td>
				<% @week.quizzes.each do |quiz| %>
					<p><%= link_to quiz.title, quiz.intro, target: "_blank" %></p>
				<% end %>
			</td>
		</tr>
	<% end %>

	<% if @week.projects.count > 0 %>
		<tr>
			<th><i class="icon-github"></i> Project</th>
			<td><%= link_to @week.projects.first.title, @week.projects.first %></td>
		</tr>
	<% end %>
</table>

</div>
<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_week_path(@week) %> 
<% end %>
