<h1>Admin</h1>

<p><%= link_to "Weeks", weeks_path %></p>

<p><%= link_to "Class", inclasses_path %></p>
<p><%= link_to "Readings", readings_path %></p>
<p><%= link_to "Resources", links_path %></p>
<p><%= link_to "Projects", projects_path %></p>


<p><%= link_to "Announcements", announcements_path %></p>
<p><%= link_to "Users", users_path %></p>
<p><%= link_to "Events", events_path %></p>
