
	<div class="row">
		<div class="col-md-12">

			<% if current_user.user_profile.nil? %>
			<div class="alert alert-warning">
			  Please create your <%= link_to 'user profile', new_user_profile_path, :class => 'alert-link' %>.
			</div>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h2><span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-bullhorn"></i>
</span>Announcements</h2>
			
				<% if @announcements.count > 0 %>
					<% @announcements.each do |announcement| %>
					<div class="box-body">
						<h2><%= announcement.title %></h2>
						<%= announcement.body.html_safe %>
					</div>
					<% end %>
				<% end %>
			
		</div>

		<div class="col-md-4">
			<h2><span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-calendar"></i>
</span>Events</h2>
			<div class="box-body">
				<% if @events.count > 0 %>
					<% @events.each do |event| %>
						<h3><i class="icon-<%= event.icon %>"></i> 
						<%= event.title %></h3>
						<p>Date: <%= event.date.strftime("%a, %e %b %Y") %></p>
						<p>Times: <%= event.date.strftime("%I:%M%p") %> - <%= event.date.strftime("%I:%M%p") %></p>
						<%= link_to "Details", calendar_path, class: 'btn btn-primary' %>
						<% if current_user.has_role? :admin %>
							<%= link_to "Edit", edit_event_path(event), class: 'btn btn-warning' %>
						<% end %>

						<hr>
					<% end %>
				<% else %>
					<p>No upcoming events</p>
				<% end %>
				<% if current_user.has_role? :admin %>
					<%= link_to 'Add event', new_event_path %>
				<% end %>
			</div>
		</div>
	</div>

	