<%= simple_form_for(@section) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :inclass %>
    <%= f.input :priority %>
    <%= f.input :title, input_html: { class: 'form-control' } %>
    <%= f.input :content, :input_html => { :class => 'form-control', rows: 10 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
