<h1>Sections <small><%= link_to new_section_path do %><i class="icon-plus-sign-alt"></i><% end %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Inclass</th>
      <th>Priority</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.inclass.title %></td>
        <td><%= section.priority %></td>
        <td><%= section.title %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
