<p id="notice"><%= notice %></p>

<p>
  <strong>Inclass:</strong>
  <%= @section.inclass.title %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @section.priority %>
</p>

<%= link_to 'Index', sections_path, class: 'btn btn-info' %> <%= link_to "Add section", new_section_path, class: 'btn btn-success' %>
<br><br>
<div class="box-body">
		<h3><%= @section.title %></h3>
		<%= @section.content.html_safe %>
		<% if current_user.has_role? :admin %>
			<%= link_to 'Edit section', edit_section_path(@section) %>
		<% end %>
	</div>
