<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @project.week %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @project.intro %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
