<ol class="breadcrumb">
  <li><%= link_to week_path(@project.week) do %>Week <%= @project.week.number %>: <%= @project.week.title %><% end %></li>
  
  <li class="active">Project: <%= @project.title %></li>
</ol>
<div class="page-title">
<h2>Week 
  <%= @project.week.number %> Project
</h2>
</div>
<div class="box-body">
<h3>
  <%= @project.title %>
</h3>

  <p><%= @project.intro.html_safe %>
</p>



</div>
<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
