<p id="notice"><%= notice %></p>
<div class="page-title">
<h2>Week 
  <%= @inclass.week.number %> Class
</h2>
</div>
<div class="box-body">
<h3>
  <%= @inclass.title %>
</h3>


  <strong>Description:</strong>
  <p><%= @inclass.intro %>
</p>



</div>
<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_inclass_path(@inclass) %>
<% end %>
