<p id="notice"><%= notice %></p>
<div class="page-title">
<h2>Week 
  <%= @inclass.week.number %> Class
</h2>
</div>
<div class="box-body">
<h3>
  <%= @inclass.title %>
</h3>


  <strong>Description:</strong>
  <p><%= @inclass.intro.html_safe %>
</p>

<h3>Sections</h3>
<ol>
	<% @inclass.sections.each do |section| %>
		<li><%= link_to section.title, "#" + section.priority.to_s %></li>
	<% end %>
</ol>


</div>
<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_inclass_path(@inclass) %>
<% end %>

<% @inclass.sections.each do |section| %>
	<div class="box-body">
		<h3 id="<%= section.priority.to_s %>"><%= section.title %></h3>
		<%= section.content.html_safe %>
		<% if current_user.has_role? :admin %>
			<%= link_to 'Edit section', edit_section_path(section) %>
		<% end %>
	</div>
<% end %>

