<p id="notice"><%= notice %></p>
<div class="page-title">
<h2><%= @inclass.title %> <small>Week 
  <%= @inclass.week.number %> </small>
</h2>
</div>
<div class="box-body">



  <h3>Description:</h3>
  <p><%= @inclass.intro.html_safe %>
</p>

<h3>Sections</h3>
<ol>
	<% @inclass.sections.each do |section| %>
		<li><%= link_to section.title, section %></li>
	<% end %>
</ol>


</div>
<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_inclass_path(@inclass) %>
<% end %>


