<div class="panel panel-info">
  <div class="panel-heading"><i class="icon-th-list"></i> Menu</div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to root_path do %><i class="icon-home"></i> Home<% end %></li>
      <li class="<%= 'active' if current_page?(user_profiles_path) %>"><%= link_to user_profiles_path do %><i class="icon-user"></i> Students<% end %></li>
      <li class="<%= 'active' if current_page?(calendar_path) %>"><%= link_to calendar_path do %><i class="icon-calendar"></i> Calendar<% end %></li>
      <li class="nav-divider"></li>
      <% if @weeks.count > 0 %>
        <% @weeks.each do |week| %>

          <li class="<%= 'active' if current_page?(week_path(week)) %> <%= 'finished' if week.finished? %>">
            <%= link_to week_path(week) do %>
              <% if week.current_week? %> <i class="icon-asterisk"></i> <% end %> Week <%= week.number.to_s %> 
            <% end %>
              <!-- <ul class="nav sub-nav">
                <li><%= link_to "Class", inclass_path(week.inclasses.first) %></li>
                <li><%= link_to "Resources", links_path %></li>
              </ul> -->
          </li>

        <% end %>
      <% end %>
      <li class="nav-divider"></li>
      <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "All projects", projects_path %></li>
      <li class="<%= 'active' if current_page?(links_path) %>"><%= link_to "All resources", links_path %></li>
    </ul>
  </div>
</div>


<div class="panel panel-warning">
  <div class="panel-heading"><i class="icon-comments-alt"></i> Group chat</div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <% @chatrooms.each do |chatroom| %>
        <li><%= link_to chatroom.name, chatroom.url, target: "_blank" %></li>
      <% end %>
    </ul>
  </div>
</div>

<!-- <div class="panel panel-default">
  <div class="panel-heading"><i class="icon-fighter-jet"></i> Quick links</div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <% @links.each do |link| %>
        <li><span style="font-size: 14px;"><%= link_to link.title, link.url, target: "_blank" %></span></li>
      <% end %>
    </ul>
  </div>
</div> -->